// google fonts
// Inter、Noto Sans TC
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+TC:wght@100..900&display=swap');

// custom color
$custom-primary: #4a69e8;
$custom-secondary: #36c99f;
$custom-black: #141a1f;
$custom-white: #fcfcfd;

$custom-natural-50: #667f99;
$custom-natural-85: #d1d9e1;
$custom-natural-95: #f0f3f5;

.c-bg-secondary {
  background-color: $custom-natural-95;
}
.c-text-secondary {
  color: $custom-natural-50;
}

// font sizes
.font-sm {
  font-size: 0.875rem; // 14px
}

@media screen and (max-width: 992px) {
  .font-sm-sm {
    font-size: 0.875rem; // 14px
  }
}

body {
  font-family: 'Inter', 'Noto Sans TC', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: $custom-black;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}
