<footer class="py-4 py-lg-5 border-top c-bg-secondary footer">
  <div
    class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center"
  >
    <ul class="nav mb-2 font-sm-sm mb-lg-0 justify-content-center footer-nav">
      <li class="nav-item">
        <a class="nav-link px-3 px-lg-4" href="#">服務方案</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-3 px-lg-4" href="#">關於職旅</a>
      </li>

      <li class="nav-item">
        <a class="nav-link px-3 px-lg-4" href="#">聯絡我們</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-3 px-lg-4" href="#">隱私權政策</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-3 px-lg-4" href="#">用戶條款</a>
      </li>
    </ul>
    <span class="text-center c-text-secondary font-sm py-2 py-lg-0"
      >Copyright © 2025 職旅 workway. All rights reserved.</span
    >
  </div>
</footer>
