<form action="#" class="plan-form">
  <!-- 職旅計劃概況 -->
  <section class="d-flex g-4 border-bottom pb-5 mb-5">
    <!-- 左側標題 -->
    <div class="flex-shrink-0 plan-left">
      <h2 class="h4 mb-2">職旅計劃概況</h2>
      <p class="text-secondary">
        欄位皆為<span class="badge rounded-pill text-bg-danger ms-1">必填</span>
      </p>
    </div>
    <!-- 右側表單 -->
    <div class="flex-grow-1">
      <!-- 目前職業狀態 -->
      <div class="mb-4">
        <p class="mb-2">目前職業狀態</p>
        <div class="d-flex flex-wrap gap-4 row-gap-2">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="job"
              id="fullTime"
              value="fullTime"
              checked
            />
            <label class="form-check-label" for="fullTime">全職上班族</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="job"
              id="partTime"
              value="partTime"
            />
            <label class="form-check-label" for="partTime">兼職工作者</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="job"
              id="freelance"
              value="freelance"
            />
            <label class="form-check-label" for="freelance"
              >自由工作者/接案者</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="job"
              id="digital-nomad"
              value="digital-nomad"
            />
            <label class="form-check-label" for="digital-nomad"
              >數位遊牧者</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="job"
              id="entrepreneur"
              value="entrepreneur"
            />
            <label class="form-check-label" for="entrepreneur"
              >創業者/企業主</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="job"
              id="unemployed"
              value="unemployed"
            />
            <label class="form-check-label" for="unemployed">待業中</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="job"
              id="other"
              value="other"
            />
            <label class="form-check-label" for="other">其他</label>
          </div>
        </div>
      </div>
      <!-- 工作產業 -->
      <div class="dropdown mb-4">
        <button
          class="btn border text-start form-select"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          工作產業
        </button>

        <ul class="dropdown-menu mt-2 w-100">
          <li>
            <a class="dropdown-item" href="#">科技</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">媒體</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">教育</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">金融</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">醫療健康</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">零售製造</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">服務業</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">藝術創意</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">非營利組織</a>
          </li>
        </ul>
      </div>
      <!-- 工作年資 -->
      <div class="dropdown mb-4">
        <button
          class="btn border text-start form-select"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          工作年資
        </button>

        <ul class="dropdown-menu mt-2 w-100">
          <li>
            <a class="dropdown-item" href="#">1 年以下</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">1-3 年</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">3-5 年</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">5-10 年</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">10 年以上</a>
          </li>
        </ul>
      </div>
      <!-- 月收入 -->
      <div class="mb-4">
        <p class="mb-2">月收入區間</p>
        <div class="d-flex flex-wrap gap-4 row-gap-2">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="salary"
              id="0-3"
              value="0-3"
              checked
            />
            <label class="form-check-label" for="0-3">3 萬以下</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="salary"
              id="3-5"
              value="3-5"
            />
            <label class="form-check-label" for="3-5">3-5 萬</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="salary"
              id="8-12"
              value="8-12"
            />
            <label class="form-check-label" for="8-12">8-12 萬</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="salary"
              id="12-20"
              value="12-20"
            />
            <label class="form-check-label" for="12-20">12-20 萬</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="salary"
              id="20"
              value="20"
            />
            <label class="form-check-label" for="20">20 萬以上</label>
          </div>
        </div>
      </div>
      <!-- 職業摘要 -->
      <div class="mb-4">
        <div class="form-floating">
          <textarea
            class="form-control textarea-height"
            name="job-info"
            placeholder="職業摘要（簡短描述您的專業背景和核心競爭力最多 300 字）"
            id="job-info"
            maxlength="300"
          ></textarea>
          <label for="job-info"
            >職業摘要（簡短描述您的專業背景和核心競爭力最多 300 字）</label
          >
        </div>
      </div>
      <!-- 作品案例 -->
      <div class="mb-4">
        <div class="form-floating">
          <input
            type="text"
            name="job-demo"
            class="form-control"
            id="job-demo"
            placeholder="作品案例展示"
          />
          <label for="job-demo">作品案例展示</label>
        </div>
      </div>
      <!-- 附件檔案 -->
      <div>
        <p class="mb-2">附件檔案</p>
        <label
          for="formFile"
          class="form-label btn btn-outline-dark border-secondary-subtle rounded-4 py-2 px-3"
          ><span class="material-icons-outlined fs-5 align-middle pb-1 me-1">
            file_upload </span
          >上傳檔案</label
        >
        <input
          class="form-control d-none"
          type="file"
          name="file"
          id="formFile"
        />
      </div>
    </div>
  </section>
  <!-- 職涯規劃 -->
  <section class="d-flex g-4 border-bottom pb-5 mb-5">
    <!-- 左側標題 -->
    <div class="flex-shrink-0 plan-left">
      <h2 class="h4 mb-2">職涯規劃</h2>
      <p class="text-secondary">
        欄位皆為<span class="badge rounded-pill text-bg-danger ms-1">必填</span>
      </p>
    </div>
    <!-- 右側表單 -->
    <div class="flex-grow-1">
      <!-- 短期職涯目標 -->
      <div class="mb-4">
        <div class="form-floating">
          <textarea
            class="form-control textarea-height"
            name="short-career-goals"
            placeholder="1 年短期職涯目標（最多 300 字）"
            id="short-career-goals"
            maxlength="300"
          ></textarea>
          <label for="short-career-goals"
            >1 年短期職涯目標（最多 300 字）</label
          >
        </div>
      </div>
      <!-- 中長期職涯目標 -->
      <div class="mb-4">
        <div class="form-floating">
          <textarea
            class="form-control textarea-height"
            name="long-career-goals"
            placeholder="1-3 年中長期職涯願景（最多 300 字）"
            id="long-career-goals"
            maxlength="300"
          ></textarea>
          <label for="long-career-goals"
            >1-3 年中長期職涯願景（最多 300 字）</label
          >
        </div>
      </div>
      <!-- 理想工作模式 -->
      <div class="mb-4">
        <p class="mb-2">理想工作模式</p>
        <div class="d-flex flex-wrap gap-4 row-gap-2">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="workMode"
              id="office"
              value="office"
              checked
            />
            <label class="form-check-label" for="office">固定辦公室工作</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="workMode"
              id="hybrid-work"
              value="hybrid-work"
            />
            <label class="form-check-label" for="hybrid-work"
              >混合式工作(辦公室+遠端)</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="workMode"
              id="remote"
              value="remote"
            />
            <label class="form-check-label" for="remote"
              >完全遠端工作(固定地點)</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="workMode"
              id="work-digital-nomad"
              value="work-digital-nomad"
            />
            <label class="form-check-label" for="work-digital-nomad"
              >數位遊牧(邊工作邊旅行)</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="workMode"
              id="work-mode-other"
              value="work-mode-other"
            />
            <label class="form-check-label" for="work-mode-other"
              >其他(請說明)</label
            >
          </div>
        </div>
      </div>
      <!-- 目標薪資/收入 -->
      <div class="mb-4">
        <div class="form-floating">
          <input
            type="text"
            name="target-salary"
            class="form-control"
            id="target-salary"
            placeholder="目標薪資/收入"
          />
          <label for="target-salary">目標薪資/收入</label>
        </div>
      </div>
      <!--目前面臨的職涯挑戰  -->
      <div class="mb-4">
        <p class="mb-2">目前面臨的職涯挑戰</p>
        <div class="d-flex flex-wrap gap-4 row-gap-2">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="career-challenges"
              id="unclear-direction"
              value="unclear-direction"
            />
            <label class="form-check-label" for="unclear-direction"
              >方向不明確</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="career-challenges"
              id="skills"
              value="skills"
            />
            <label class="form-check-label" for="skills">技能需要提升</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="career-challenges"
              id="unstable-income"
              value="unstable-income"
            />
            <label class="form-check-label" for="unstable-income"
              >收入不穩定</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="career-challenges"
              id="customer"
              value="customer"
            />
            <label class="form-check-label" for="customer">客戶開發困難</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="career-challenges"
              id="time"
              value="time"
            />
            <label class="form-check-label" for="time">時間管理問題</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="career-challenges"
              id="work-life-unbalance"
              value="work-life-unbalance"
            />
            <label class="form-check-label" for="work-life-unbalance"
              >工作生活失衡</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="career-challenges"
              id="human"
              value="human"
            />
            <label class="form-check-label" for="human">缺乏人脈資源</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="career-challenges"
              id="challenges-other"
              value="challenges-other"
            />
            <label class="form-check-label" for="challenges-other"
              >其他(請說明)</label
            >
          </div>
        </div>
      </div>
      <!--期望獲得的協助與資源 -->
      <div class="mb-4">
        <p class="mb-2">期望獲得的協助與資源</p>
        <div class="d-flex flex-wrap gap-4 row-gap-2">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="expected"
              id="career-direction"
              value="career-direction"
            />
            <label class="form-check-label" for="career-direction"
              >職涯方向指導</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="expected"
              id="skill-suggestions"
              value="skill-suggestions"
            />
            <label class="form-check-label" for="skill-suggestions"
              >專業技能提升建議</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="expected"
              id="personal-brand"
              value="personal-brand"
            />
            <label class="form-check-label" for="personal-brand"
              >個人品牌建立</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="expected"
              id="strategy"
              value="strategy"
            />
            <label class="form-check-label" for="strategy"
              >接案策略與定價</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="expected"
              id="customer-development"
              value="customer-development"
            />
            <label class="form-check-label" for="customer-development"
              >客戶開發方法</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="expected"
              id="financial-planning"
              value="financial-planning"
            />
            <label class="form-check-label" for="financial-planning"
              >財務規劃</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="expected"
              id="time-management"
              value="time-management"
            />
            <label class="form-check-label" for="time-management"
              >時間管理系統</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="expected"
              id="work-life-balance"
              value="work-life-balance"
            />
            <label class="form-check-label" for="work-life-balance">
              工作生活平衡
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="expected"
              id="expected-other"
              value="expected-other"
            />
            <label class="form-check-label" for="expected-other"
              >其他(請說明)</label
            >
          </div>
        </div>
      </div>
      <!--感興趣的服務方案 -->
      <div>
        <p class="mb-2">感興趣的服務方案</p>
        <div class="d-flex flex-wrap gap-4 row-gap-2">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="interested"
              id="explore-positioning"
              value="explore-positioning"
            />
            <label class="form-check-label" for="explore-positioning"
              >探索定位</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="interested"
              id="customized-solutions"
              value="customized-solutions"
            />
            <label class="form-check-label" for="customized-solutions"
              >客製化方案</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="interested"
              id="practical-guidance"
              value="practical-guidance"
            />
            <label class="form-check-label" for="practical-guidance"
              >實戰指導</label
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 專業技能區塊 -->
  <section class="d-flex g-4 border-bottom pb-5 mb-5">
    <!-- 左側標題 -->
    <div class="flex-shrink-0 plan-left">
      <h2 class="h4 mb-2">專業技能區塊</h2>
      <p class="text-secondary">欄位皆為選填</p>
    </div>
    <!-- 右側表單 -->
    <div class="flex-grow-1">
      <!--核心專業領域 -->
      <div class="mb-4">
        <p class="mb-2">核心專業領域</p>
        <div class="d-flex flex-wrap gap-4 row-gap-2">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="expertise"
              id="design-creativity"
              value="design-creativity"
            />
            <label class="form-check-label" for="design-creativity"
              >設計/創意</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="expertise"
              id="technology-program"
              value="technology-program"
            />
            <label class="form-check-label" for="technology-program"
              >科技/程式開發</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="expertise"
              id="marketing-pr"
              value="marketing-pr"
            />
            <label class="form-check-label" for="marketing-pr">行銷/公關</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="expertise"
              id="creation-writing"
              value="creation-writing"
            />
            <label class="form-check-label" for="creation-writing"
              >內容創作/寫作</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="expertise"
              id="consultancy"
              value="consultancy"
            />
            <label class="form-check-label" for="consultancy">顧問/諮詢</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="expertise"
              id="business"
              value="business"
            />
            <label class="form-check-label" for="business">商業/管理</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="expertise"
              id="finance"
              value="finance"
            />
            <label class="form-check-label" for="finance">財務/會計</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="expertise"
              id="education"
              value="education"
            />
            <label class="form-check-label" for="education">教育/培訓</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="expertise"
              id="legal"
              value="legal"
            />
            <label class="form-check-label" for="legal">法律/合規</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="expertise"
              id="health-medical"
              value="health-medical"
            />
            <label class="form-check-label" for="health-medical"
              >健康/醫療</label
            >
          </div>
        </div>
      </div>
      <!-- 專業背景 -->
      <div class="mb-4">
        <div class="form-floating">
          <textarea
            class="form-control textarea-height"
            name="background"
            placeholder="專業背景和核心競爭力（最多300字）"
            id="background"
            maxlength="300"
          ></textarea>
          <label for="background">專業背景和核心競爭力（最多300字）</label>
        </div>
      </div>
      <!-- 專業技能 -->
      <div class="mb-4">
        <div class="form-floating">
          <textarea
            class="form-control textarea-height"
            name="professional-skills"
            placeholder="專業技能（最多300字）"
            id="professional-skills"
            maxlength="300"
          ></textarea>
          <label for="professional-skills">專業技能（最多300字）</label>
        </div>
      </div>
      <!-- 語文能力 -->
      <div class="mb-4">
        <div class="form-floating">
          <textarea
            class="form-control textarea-height"
            name="language"
            placeholder="語文能力（最多300字）"
            id="language"
            maxlength="300"
          ></textarea>
          <label for="language">語文能力（最多300字）</label>
        </div>
      </div>
      <!-- 資格證照 -->
      <div class="form-floating">
        <textarea
          class="form-control textarea-height"
          name="certificate"
          placeholder="資格證照（最多300字）"
          id="certificate"
          maxlength="300"
        ></textarea>
        <label for="certificate">資格證照（最多300字）</label>
      </div>
    </div>
  </section>
  <!-- 教育背景 -->
  <section class="d-flex g-4 mb-5">
    <!-- 左側標題 -->
    <div class="flex-shrink-0 plan-left">
      <h2 class="h4 mb-2">教育背景</h2>
      <p class="text-secondary">欄位皆為選填</p>
    </div>
    <!-- 右側表單 -->
    <div class="flex-grow-1">
      <!-- 學歷背景 -->
      <div class="mb-4">
        <div class="form-floating">
          <textarea
            class="form-control textarea-height"
            name="academic-background"
            placeholder="學歷背景（最多500字）"
            id="academic-background"
            maxlength="500"
          ></textarea>
          <label for="academic-background">學歷背景（最多500字）</label>
        </div>
      </div>
      <!-- 專業培訓與工作坊 -->
      <div class="form-floating">
        <textarea
          class="form-control textarea-height"
          name="training-workshops"
          placeholder="專業培訓與工作坊（最多500字）"
          id="training-workshops"
          maxlength="500"
        ></textarea>
        <label for="training-workshops">專業培訓與工作坊（最多500字）</label>
      </div>
    </div>
  </section>
  <!-- form button action -->
  <div class="text-center">
    <button
      type="button"
      class="btn btn-outline-dark border-secondary-subtle rounded-4 ps-3 pe-2 me-4"
    >
      匯出 PDF<span class="material-icons-outlined fs-5 align-middle pb-1 ms-1">
        chevron_right
      </span>
    </button>
    <button
      type="submit"
      class="btn btn-dark c-bg-black border rounded-4 ps-3 pe-2"
    >
      儲存更新<span class="material-icons-outlined fs-5 align-middle pb-1 ms-1">
        chevron_right
      </span>
    </button>
  </div>
</form>
