.header-nav {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: $custom-white;
  border-bottom: 1px solid $custom-natural-85;

  @media screen and (max-width: 992px) {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  &-brand {
    padding-top: 0;
    padding-bottom: 0;

    @media screen and (max-width: 992px) {
      width: 92px;
    }
  }

  &-list {
    gap: 12px;

    @media screen and (max-width: 992px) {
      gap: 8px;
      padding-top: 8px;
    }

    .nav-link {
      color: $custom-black;
      &:hover {
        color: $custom-primary;
      }
    }
  }

  &-user {
    line-height: 1.2;
    letter-spacing: 0;
    &:hover {
      color: $custom-primary;
    }
  }

  &-avatar {
    width: 44px;
    height: 44px;
    --bs-border-color: $custom-natural-85;
  }

  &-toggler {
    --bs-navbar-toggler-padding-y: 10px;
    --bs-navbar-toggler-padding-x: 10px;
    --bs-navbar-toggler-focus-width: 1px;
  }
}
